<!DOCTYPE html>
<html>
  <head>
    <title>WorkBoard</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4DA5F4" />
    <meta name="csrf-token" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <style>
        .linker{
            width: 50%;
            background-color: white; 
            height: 120px; 
            margin-left: 25%; 
            box-shadow: 5px 10px 8px #888888; 
            border-radius: 25px; 
            padding-top:18px; 
            font-size: 20px;
            margin-bottom: 30px;
            padding-left: 10px;
        }

        .linker1{
            background-color:#90EE90; 
            height: 120px; 
            margin-left: 65%; 
            border-radius: 25px; 
            padding-top:10px;
            padding-bottom: 10px;
            padding-right: 10px; 
            font-size: 20px;
            margin-bottom: 30px;
            padding-left: 10px;
            cursor: pointer;
        }
    </style>
  </head>
  <body>
    <div class="navbar navbar-light  navbar-expand-lg bg-light" >
        <div class="container">
          <a class="navbar-brand" href="/">WorkBoard</a>
          <a class="navbar-brand" href="/">Home</a>
            
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
              
                </ul>

            </div>
        </div>
        

      </div>


    <% if(messages.errors) {%>
      <div class="alert alert-danger fade show">
        <% for(let error of messages.errors){%>
          <center><%=error.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <% if(messages.info) {%>
      <div class="alert alert-info fade show">
        <% for(let info of messages.info){%>
          <center><%=info.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <% if(messages.success) {%>
      <div class="alert alert-success fade show">
        <% for(let success of messages.success){%>
          <center><%=success.msg%></center>
          <%}%>
      </div>
      
    <%}%>

      <center><h1 style="margin-top:30px; margin-bottom: 30px;">Archived Cards</h1></center>


      <% if(archive.length==0) {%>
        <div class="linker">
          <center><div>No archived card exist</div></center>
      </div>
      <% } %>

      <% for(var i=0;i < archive.length;i++) { %>
        <div class="linker">
          <div>
            <span>BoardName: <%=archive[i].bname%></span>
          </div>
          <div>
            <span>ListName: <%=archive[i].lname%></span>
            <span class="linker1" onclick="window.location.assign('/archive/<%=archive[i].bname%>/<%=archive[i].lname%>/<%= archive[i].cname%>')">Restore</span>
          </div>
          <div>
            <span>CardName: <%=archive[i].cname%></span>
          </div>
      </div>

      <% } %>

    


     

        

    
  </body>
</html>
