<!DOCTYPE html>
<html>
  <head>
    <title>WorkBoard</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4DA5F4" />
    <meta name="csrf-token" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <style>
        .linker{
            width: 50%;
            background-color: white; 
            height: 60px; 
            margin-left: 25%; 
            box-shadow: 5px 10px 8px #888888; 
            border-radius: 25px; 
            padding-top:18px; 
            font-size: 20px;
            margin-bottom: 30px;
        }
    </style>
  </head>
  <body>
    <div class="navbar navbar-light  navbar-expand-lg bg-light" >
        <div class="container"><a class="navbar-brand" href="/">WorkBoard</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/createList/<%=bname%>">Go Back</a></li>
                </ul>
                
            </div>
        </div>
    </div>


    <% if(messages.errors) {%>
      <div class="alert alert-danger fade show">
        <% for(let error of messages.errors){%>
          <center><%=error.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <% if(messages.info) {%>
      <div class="alert alert-info fade show">
        <% for(let info of messages.info){%>
          <center><%=info.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <% if(messages.success) {%>
      <div class="alert alert-success fade show">
        <% for(let success of messages.success){%>
          <center><%=success.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <form class="fileupload" action="/fileUpload/<%=bname%>/<%=lname%>/<%=cname%>" method="post" enctype="multipart/form-data">
        <center><h1 style="margin-top:30px; margin-bottom: 30px;">Upload files here</h1>
        <input type="file" name="upfile" value="">
        <input type="submit" />
        </center>   
      </form>


      <center><h1 style="margin-top:30px; margin-bottom: 30px;">Download files</h1></center>

      <% for( var i=0;i < links.length; i++) { %>
        <div class="linker">
            <center><a href="/download/<%=links[i]%>"><%=links[i]%></a></center>
        </div>
        <%}%>

        

    
  </body>
</html>
